$fa-font-path: "../fonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands"


body
    padding: 5rem 1rem
    text-align: center
    font-family: sans-serif

a
    color: black
    &:visited, &:active
        color: black
    &:hover
        color: green

#picture
    width: 250px
    height: 250px
    border-radius: 50%
    display: block
    margin: 15px auto

.footer
    font-size: 12px
    text-align: center

.links
    margin: 5rem auto
    display: flex
    justify-content: space-evenly
    > div
        margin: .5rem 0