body{
   background: #ffffff;
   background-image: url("background.png");
   background-repeat: repeat;
   margin: 50px auto;
}

#picture {
   width: 250px;
   height: 250px;
   border-radius: 25px;
}

.nav-pills > li.active > a {
    background-color: #fff335;
    color: black;
}

.nav-pills > li > a:hover, .nav-pills > li.active > a:hover {
   background-color: #fffccd;
    color: black;
}

.nav-pills > li > a {
    color: black;
}

.jumbotron p {
  font-size: 12px;
}