doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title emsuiko.de
        link(rel='stylesheet', type='text/css', href='css/style.css')
    body
        .container
            div
                h1 Anett
                img#picture(src='img/avatar2.jpg', alt='miko')
            .links
                div
                    a(href='https://twitter.com/emsuiko/' target='_blank')
                        i.fab.fa-twitter.fa-3x(aria-hidden='true')
                div
                    a(href='https://instagram.com/emsuiko/' target='_blank')
                        i.fab.fa-instagram.fa-3x(aria-hidden='true')
                div
                    a(href='https://github.com/emsuiko' target='_blank')
                        i.fab.fa-github.fa-3x(aria-hidden='true')
                div
                    a(href='https://codepen.io/emsuiko/' target='_blank')
                        i.fab.fa-codepen.fa-3x(aria-hidden='true')
                div
                    a(href='http://codingnightffm.de' target='_blank')
                        i.fas.fa-laptop-code.fa-3x(aria-hidden='true')
            .footer
                a(href='impressum.html') Impressum &amp; Datenschutzerklärung
        //- script(src='js/app.js')
