doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title emsuiko.de
        link(rel='stylesheet', type='text/css', href='css/style.css')
    body
        .container.text-center
            h1 miko
            img#picture(src='img/kreis.png', alt='miko')
            .links
                a(href='https://instagram.com/denoira/')
                    i.fab.fa-instagram.fa-3x(aria-hidden='true')
                a(href='https://github.com/emsuiko')
                    i.fab.fa-github.fa-3x(aria-hidden='true')
                a(href='https://codepen.io/emsuiko/')
                    i.fab.fa-codepen.fa-3x(aria-hidden='true')
                a(href='https://www.strava.com/athletes/9659091')
                    i.fab.fa-strava.fa-3x(aria-hidden='true')
                a(href='http://track-development.de')
                    i.fa.fa-cogs.fa-3x(aria-hidden='true')
            .footer
                a(href='impressum.html') Impressum
        script(src='js/app.js')
